.git
**/.git
**/node_modules
**/.svelte-kit
**/build
**/tmp
**/.env
fe/android
be/secrets
be/firebase-service-account.json
*.jks
*.keystore
ota-storage
be/storage/ota/**/*.zip
be/storage/ota/**/latest.json
